body {
  font-family: "Helvetica";
  margin: 0 auto;
  width: 960px;
  background: #ff6600;
}

article {
  background: #fff;
  border-top: 5px solid #424242;
  padding: 2em;
}

h1 {
  margin: 0 0 1em 0;
  font-size: 2em;
  color: #00FF99 ;
  text-align: center;
}

h2 {
  color: #0000FF;
  font-weight: normal;
}